{% extends 'layout/base.html' %}
{% load bootstrap4 %}


{% block title %}
    Регистрация
{% endblock title %}


{% block content %}
    <div class="card credentials_form">
        <div class="card-body">
            <h3>Регистрация</h3>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                {% buttons submit='Зарегистрироваться' %} {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock content %}